PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
LOCK_TTL_SECONDS=300
RETAILER_RATE_LIMIT_PER_SECOND=5
CIRCUIT_PROBE_TTL_SECONDS=300
SCRAPE_HOUR_THRESHOLD=100
PGHOST=127.0.0.1
POSTGRES_PORT=55432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
