REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PGHOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
WORKER_PORT=3001

WORKER_ID=worker-1
WORKER_POLL_INTERVAL_MS=500
WORKER_IDLE_CLAIM_MS=300000
WORKER_GROUP_NAME_PREFIX=group:retailer:

CACHE_TTL_SECONDS=1200
LOCK_TTL_SECONDS=300
SCRAPE_HOUR_TTL_SECONDS=3600

CIRCUIT_FAILURE_THRESHOLD=5
CIRCUIT_FAILURE_TTL_SECONDS=60
CIRCUIT_OPEN_TTL_SECONDS=60
CIRCUIT_PROBE_TTL_SECONDS=60

RETRY_DELAY_1_MS=10000
RETRY_DELAY_2_MS=20000
RETRY_DELAY_3_MS=30000

WALMART_CONCURRENCY=2
TARGET_CONCURRENCY=2
KROGER_CONCURRENCY=1
RALPHS_CONCURRENCY=1
SAFEWAY_CONCURRENCY=1
ALDI_CONCURRENCY=1
